<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-2 col-sm-4 col-xs-6 ">

        <% if user.id != current_user.id %>
      <!-- ユーザ一覧に自分以外のユーザが表示され、メッセージを送付するリンクが表示される -->
          <li>
            <div class="item">
              <div class="profile">
                <%= profile_img(user) %>
              </div>
              <h5>ユーザ名： <%= link_to user.name, user %> </h5>
              <h5>メールアドレス：  <%= user.email %></h5>
              <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
            </div>
            <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
          </li>
        <% end %>

      </div>
  <% end %>

</div>
